doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Tic-Tac-Toe
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Tic-Tac-Toe
    button#newgame New Game
    #styleboard
      table#game
        tbody#board
          tr
            td.place.playable#0 0
            td.place.playable#1 1
            td.place.playable#2 2
          tr
            td.place.playable#3 3
            td.place.playable#4 4
            td.place.playable#5 5
          tr
            td.place.playable#6 6
            td.place.playable#7 7
            td.place.playable#8 8
    #pieces
      .xpieces
        .X
        .X
        .X
        .X
        .X
      .ypieces
        .O
        .O
        .O
        .O
        .O

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
