doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Tic-Tac-Toe
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Tic-Tac-Toe
    button#newgame New Game
    #styleboard
      table#game
        tbody#board
          tr
            td.place.playable#a1 a1
            td.place.playable#a2 a2
            td.place.playable#a3 a3
          tr
            td.place.playable#b1 b1
            td.place.playable#b2 b2
            td.place.playable#b3 b3
          tr
            td.place.playable#c1 c1
            td.place.playable#c2 c2
            td.place.playable#c3 c3
    #pieces
      .xpieces
        .X
        .X
        .X
        .X
        .X
      .ypieces
        .O
        .O
        .O
        .O
        .O

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
